* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.wrapStagePage {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.top {
  padding: 3em 3em 0 3em;
}

.top .headerMenu {
  padding: 2%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top .headerMenu p {
  font-weight: bold;
}

.top .headerMenu li {
  list-style: none;
  display: inline-block;
  margin-left: 2rem;
  margin-right: 2rem;
}

.top .headerMenu li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  font-size: 1.2em;
}

.top .headerMenu li a:hover {
  font-weight: bold;
}

.wrapStagePage .top {
  width: 100%;
  height: 70vh;
  color: #fff;
}

.wrapStagePage .landingAbout {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/heat/P1090745.JPG);
  background-position: center;
  background-size: cover;
}

.wrapStagePage .title {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
}

.mid {
  padding: 3em;
}
.gallery {
  columns: 4 250px;
  column-gap: 16px;
}

.gallery img {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 3px;
  display: block;
  break-inside: avoid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.aboutFoot {
  padding-top: 5%;
  width: 100%;
  height: 50vh;
  background: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.wrapAll {
  display: flex;
  justify-content: space-between;
}

.wrapAll .side {
  width: 33%;
  text-align: center;
}

.wrapAll .side p {
  font-size: 1.3em;
  margin-bottom: 7%;
}

.wrapAll .side p.standard {
  font-size: 1em;
}

.wrapAll .leftSide li {
  list-style: none;
  transition: 0.2s;
  margin: 1%;
}

.wrapAll .leftSide li a {
  text-decoration: none;
  color: #fff;
  width: fit-content;
}

.wrapAll .leftSide li a:hover {
  font-weight: bold;
}

.wrapAll .midSide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapAll .midSide p {
  font-size: 2em;
}

.wrapAll .rightSide ul li {
  display: inline-block;
  margin: 1%;
}

.wrapAll .rightSide ul li img:hover {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .gallery {
    columns: 2 150px;
  }
}

@media (max-width: 600px) {
  .gallery {
    columns: 1 100%;
  }
}

.move {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50%);
  transition: all 1s;
}

.show {
  filter: blur(0);
  transform: translateY(0);
  opacity: 1;
}
