* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

#custom-lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

#custom-lightbox img {
  max-width: 90%;
  max-height: 90%;
  cursor: pointer;
}

/* .wrapFirstPage {
  height: 100%;
} */

.leftBurger {
  display: none;
}

.wrapFirstPage .top {
  width: 100%;
  height: 100vh;
  padding: 40px;
  color: #fff;
}

.top .landingPage {
  width: 100%;
  height: 100%;
  background: url(images/P1040268.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.top .headerMenu {
  padding: 3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top .headerMenu p {
  font-weight: bold;
}

.top .headerMenu li {
  list-style: none;
  display: inline-block;
  margin-left: 2rem;
  margin-right: 2rem;
}

.top .headerMenu li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  font-size: 1.2em;
}

.top .headerMenu li a:hover {
  font-weight: bold;
}

.top .content {
  width: 100%;
  height: 60%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15em;
}

.top .content p.title {
  font-size: 5em;
  text-align: center;
  line-height: 1.1em;
  font-weight: bold;
}

.top .content p.regular {
  font-size: 1.2em;
  font-style: italic;
  color: #fff;
  margin-bottom: 1.8em;
  margin-top: 0.3em;
}

.top .content a {
  font-size: 1.2em;
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  padding: 0.3em 2.5em;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
}

.top .content a:hover {
  color: rgb(255, 255, 255);
  background-color: #333333;
}

.topToMid {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.topToMid p.quote {
  width: 80%;
  font-size: 2.5em;
  font-style: italic;
}

.topToMid p.byWho {
  margin-top: 2%;
  font-size: 2.5em;
  left: 0%;
}

.midToBot {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.midToBot p.quote {
  width: 80%;
  font-size: 2.5em;
  font-style: italic;
}

.midToBot p.byWho {
  margin-top: 2%;
  font-size: 2.5em;
  left: 0%;
}

.botFoot {
  padding-top: 5%;
  width: 100%;
  height: 50vh;
  background: #000;
  color: #fff;
}

.wrapAll {
  display: flex;
  justify-content: space-between;
}

.wrapAll .side {
  width: 33%;
  text-align: center;
}

.wrapAll .side p {
  font-size: 1.3em;
  margin-bottom: 7%;
}

.wrapAll .side p.standard {
  font-size: 1em;
}

.wrapAll .leftSide li {
  list-style: none;
  transition: 0.2s;
  margin: 1%;
}

.wrapAll .leftSide li a {
  text-decoration: none;
  color: #fff;
  width: fit-content;
}

.wrapAll .leftSide li a:hover {
  font-weight: bold;
}

.wrapAll .midSide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapAll .midSide p {
  font-size: 2em;
}

.wrapAll .rightSide ul li {
  display: inline-block;
  margin: 1%;
}

.wrapAll .rightSide ul li img:hover {
  transform: scale(1.2);
}

li a img {
  width: 1.5rem;
  filter: brightness(0) invert(1);
  transition: 0.2s;
}

/* moving object */

.move {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50%);
  transition: all 1s;
}

.show {
  filter: blur(0);
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 567px) {
  .top .headerMenu li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    font-size: 0.5em;
  }

  .top .content .mainOptions {
    width: 80%;
  }

  .top .content .mainOptions li a {
    font-size: 1em;
  }

  .top .headerMenu {
    padding: 5%;
  }
  .wrapFirstPage .top {
    width: 100%;
    height: 100vh;
    padding: 10px;
    color: #fff;
  }
  .top .headerMenu p {
    font-size: 1em;
  }
  .landingPage .content .mainTitle {
    top: 40%;
    width: 80%;
  }

  .landingPage .content .mainOptions a {
    font-size: 0.5em;
  }
  .landingPage .content .mainTitle p.move {
    font-size: 2em;
  }

  .landingPage .headerMenu ul {
    display: none;
  }

  .landingPage .bgTrans {
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    transition: 0.2s;
  }

  .landingPage .bgTrans:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  }

  .leftBurger {
    position: absolute;
    left: -100%;
    top: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #000;
    transition: 0.3s;
    display: flex;
    align-items: center;
  }

  .leftBurger ul {
    width: 100%;
  }

  .leftBurger ul li {
    list-style: none;
  }

  .leftBurger ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 0, 0.2rem, 0, 0.2rem;
  }

  .bgTrans .burger {
    z-index: 10;
  }
}

/* BATASSSSSSSSSSSSSSSS GALLERY */

.wrapStagePage {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.top {
  padding: 3em 3em 0 3em;
}

.wrapStagePage .top {
  width: 100%;
  height: 70vh;
  color: #fff;
}

.wrapStagePage .landingAbout {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/merbabu1.JPG);
  background-position: 0 90%;
  background-size: cover;
}

.wrapStagePage .title {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
}

.mid {
  padding: 3em;
}
.gallery {
  columns: 4 250px;
  column-gap: 16px;
}

.gallery img {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 3px;
  display: block;
  break-inside: avoid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* BATASSSSSSSS 2222 ABOUT */

.midAbout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 3em 3em 3em 8em;
}

.midAbout .leftText {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.midAbout .leftText p {
  font-size: 1.1em;
  line-height: 2rem;
  margin-bottom: 1rem;
  font-family: "Times New Roman", Times, serif;
}

.midAbout .leftText span {
  font-size: 1.6em;
}

.midAbout h3 {
  font-size: 4em;
  font-weight: 800;
  margin-bottom: 0.3em;
}

.midAbout .rightImage {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.midAbout .rightImage img {
  width: 80%;
  height: 100%;
  object-fit: contain;
}
